.footer-container{
  position: absolute;
  bottom:0;
  width:100%;
  color:#1d1d1d;
  background-color: white;
  box-shadow: 0 0 10px 10px grey;
  z-index:100;
  left:0;
  height:30%;
  text-align:center;
  padding:2rem;
  border-radius: 10px;
}